web/WEB-INF/wsdl/localhost_8080/ArgosComunitaeWebService/ArgosWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.WS.argos.suricata.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.WS.argos.suricata.com/" name="ArgosWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.WS.argos.suricata.com/" schemaLocation="http://localhost:8080/ArgosComunitaeWebService/ArgosWSService?xsd=1" />
</xsd:schema>
</types>
<message name="listarUltimasActividades">
<part name="parameters" element="tns:listarUltimasActividades" />
</message>
<message name="listarUltimasActividadesResponse">
<part name="parameters" element="tns:listarUltimasActividadesResponse" />
</message>
<message name="ErrorSQLException">
<part name="fault" element="tns:ErrorSQLException" />
</message>
<message name="TipoDatosException">
<part name="fault" element="tns:TipoDatosException" />
</message>
<message name="listarUltimosSeguimientos">
<part name="parameters" element="tns:listarUltimosSeguimientos" />
</message>
<message name="listarUltimosSeguimientosResponse">
<part name="parameters" element="tns:listarUltimosSeguimientosResponse" />
</message>
<message name="listarUltimasOportunidades">
<part name="parameters" element="tns:listarUltimasOportunidades" />
</message>
<message name="listarUltimasOportunidadesResponse">
<part name="parameters" element="tns:listarUltimasOportunidadesResponse" />
</message>
<message name="crearSeguimiento">
<part name="parameters" element="tns:crearSeguimiento" />
</message>
<message name="crearSeguimientoResponse">
<part name="parameters" element="tns:crearSeguimientoResponse" />
</message>
<message name="FaltaParametroException">
<part name="fault" element="tns:FaltaParametroException" />
</message>
<message name="listarSeguimientos">
<part name="parameters" element="tns:listarSeguimientos" />
</message>
<message name="listarSeguimientosResponse">
<part name="parameters" element="tns:listarSeguimientosResponse" />
</message>
<message name="buscarSeguimiento">
<part name="parameters" element="tns:buscarSeguimiento" />
</message>
<message name="buscarSeguimientoResponse">
<part name="parameters" element="tns:buscarSeguimientoResponse" />
</message>
<message name="DatosNoEncontradosException">
<part name="fault" element="tns:DatosNoEncontradosException" />
</message>
<message name="modificarSeguimiento">
<part name="parameters" element="tns:modificarSeguimiento" />
</message>
<message name="modificarSeguimientoResponse">
<part name="parameters" element="tns:modificarSeguimientoResponse" />
</message>
<message name="crearOportunidad">
<part name="parameters" element="tns:crearOportunidad" />
</message>
<message name="crearOportunidadResponse">
<part name="parameters" element="tns:crearOportunidadResponse" />
</message>
<message name="DatosDuplicadosException">
<part name="fault" element="tns:DatosDuplicadosException" />
</message>
<message name="DocumentoException">
<part name="fault" element="tns:DocumentoException" />
</message>
<message name="borrarOportunidad">
<part name="parameters" element="tns:borrarOportunidad" />
</message>
<message name="borrarOportunidadResponse">
<part name="parameters" element="tns:borrarOportunidadResponse" />
</message>
<message name="listarOportunidades">
<part name="parameters" element="tns:listarOportunidades" />
</message>
<message name="listarOportunidadesResponse">
<part name="parameters" element="tns:listarOportunidadesResponse" />
</message>
<message name="buscarOportunidad">
<part name="parameters" element="tns:buscarOportunidad" />
</message>
<message name="buscarOportunidadResponse">
<part name="parameters" element="tns:buscarOportunidadResponse" />
</message>
<message name="modificarOportunidad">
<part name="parameters" element="tns:modificarOportunidad" />
</message>
<message name="modificarOportunidadResponse">
<part name="parameters" element="tns:modificarOportunidadResponse" />
</message>
<message name="crearActividad">
<part name="parameters" element="tns:crearActividad" />
</message>
<message name="crearActividadResponse">
<part name="parameters" element="tns:crearActividadResponse" />
</message>
<message name="buscarActividad">
<part name="parameters" element="tns:buscarActividad" />
</message>
<message name="buscarActividadResponse">
<part name="parameters" element="tns:buscarActividadResponse" />
</message>
<message name="modificarActividad">
<part name="parameters" element="tns:modificarActividad" />
</message>
<message name="modificarActividadResponse">
<part name="parameters" element="tns:modificarActividadResponse" />
</message>
<message name="descargarPlantilla">
<part name="parameters" element="tns:descargarPlantilla" />
</message>
<message name="descargarPlantillaResponse">
<part name="parameters" element="tns:descargarPlantillaResponse" />
</message>
<message name="buscarDocumento">
<part name="parameters" element="tns:buscarDocumento" />
</message>
<message name="buscarDocumentoResponse">
<part name="parameters" element="tns:buscarDocumentoResponse" />
</message>
<message name="validarUsuario">
<part name="parameters" element="tns:validarUsuario" />
</message>
<message name="validarUsuarioResponse">
<part name="parameters" element="tns:validarUsuarioResponse" />
</message>
<message name="buscarUsuario">
<part name="parameters" element="tns:buscarUsuario" />
</message>
<message name="buscarUsuarioResponse">
<part name="parameters" element="tns:buscarUsuarioResponse" />
</message>
<message name="listarRolesPorUsuario">
<part name="parameters" element="tns:listarRolesPorUsuario" />
</message>
<message name="listarRolesPorUsuarioResponse">
<part name="parameters" element="tns:listarRolesPorUsuarioResponse" />
</message>
<message name="crearRol">
<part name="parameters" element="tns:crearRol" />
</message>
<message name="crearRolResponse">
<part name="parameters" element="tns:crearRolResponse" />
</message>
<message name="listarRoles">
<part name="parameters" element="tns:listarRoles" />
</message>
<message name="listarRolesResponse">
<part name="parameters" element="tns:listarRolesResponse" />
</message>
<message name="buscarRol">
<part name="parameters" element="tns:buscarRol" />
</message>
<message name="buscarRolResponse">
<part name="parameters" element="tns:buscarRolResponse" />
</message>
<message name="modificarRol">
<part name="parameters" element="tns:modificarRol" />
</message>
<message name="modificarRolResponse">
<part name="parameters" element="tns:modificarRolResponse" />
</message>
<message name="crearUsuario">
<part name="parameters" element="tns:crearUsuario" />
</message>
<message name="crearUsuarioResponse">
<part name="parameters" element="tns:crearUsuarioResponse" />
</message>
<message name="listarUsuarios">
<part name="parameters" element="tns:listarUsuarios" />
</message>
<message name="listarUsuariosResponse">
<part name="parameters" element="tns:listarUsuariosResponse" />
</message>
<message name="modificarUsuario">
<part name="parameters" element="tns:modificarUsuario" />
</message>
<message name="modificarUsuarioResponse">
<part name="parameters" element="tns:modificarUsuarioResponse" />
</message>
<message name="listarEmpresas">
<part name="parameters" element="tns:listarEmpresas" />
</message>
<message name="listarEmpresasResponse">
<part name="parameters" element="tns:listarEmpresasResponse" />
</message>
<message name="listarContactos">
<part name="parameters" element="tns:listarContactos" />
</message>
<message name="listarContactosResponse">
<part name="parameters" element="tns:listarContactosResponse" />
</message>
<message name="listarTecnologias">
<part name="parameters" element="tns:listarTecnologias" />
</message>
<message name="listarTecnologiasResponse">
<part name="parameters" element="tns:listarTecnologiasResponse" />
</message>
<message name="listarTipoProyectos">
<part name="parameters" element="tns:listarTipoProyectos" />
</message>
<message name="listarTipoProyectosResponse">
<part name="parameters" element="tns:listarTipoProyectosResponse" />
</message>
<message name="listarEstados">
<part name="parameters" element="tns:listarEstados" />
</message>
<message name="listarEstadosResponse">
<part name="parameters" element="tns:listarEstadosResponse" />
</message>
<message name="crearEmpresa">
<part name="parameters" element="tns:crearEmpresa" />
</message>
<message name="crearEmpresaResponse">
<part name="parameters" element="tns:crearEmpresaResponse" />
</message>
<message name="borrarEmpresa">
<part name="parameters" element="tns:borrarEmpresa" />
</message>
<message name="borrarEmpresaResponse">
<part name="parameters" element="tns:borrarEmpresaResponse" />
</message>
<message name="buscarEmpresa">
<part name="parameters" element="tns:buscarEmpresa" />
</message>
<message name="buscarEmpresaResponse">
<part name="parameters" element="tns:buscarEmpresaResponse" />
</message>
<message name="modificarEmpresa">
<part name="parameters" element="tns:modificarEmpresa" />
</message>
<message name="modificarEmpresaResponse">
<part name="parameters" element="tns:modificarEmpresaResponse" />
</message>
<message name="crearContacto">
<part name="parameters" element="tns:crearContacto" />
</message>
<message name="crearContactoResponse">
<part name="parameters" element="tns:crearContactoResponse" />
</message>
<message name="borrarContacto">
<part name="parameters" element="tns:borrarContacto" />
</message>
<message name="borrarContactoResponse">
<part name="parameters" element="tns:borrarContactoResponse" />
</message>
<message name="buscarContacto">
<part name="parameters" element="tns:buscarContacto" />
</message>
<message name="buscarContactoResponse">
<part name="parameters" element="tns:buscarContactoResponse" />
</message>
<message name="modificarContacto">
<part name="parameters" element="tns:modificarContacto" />
</message>
<message name="modificarContactoResponse">
<part name="parameters" element="tns:modificarContactoResponse" />
</message>
<message name="listarTipoActividades">
<part name="parameters" element="tns:listarTipoActividades" />
</message>
<message name="listarTipoActividadesResponse">
<part name="parameters" element="tns:listarTipoActividadesResponse" />
</message>
<message name="listarTipoSeguimientos">
<part name="parameters" element="tns:listarTipoSeguimientos" />
</message>
<message name="listarTipoSeguimientosResponse">
<part name="parameters" element="tns:listarTipoSeguimientosResponse" />
</message>
<message name="listarActividades">
<part name="parameters" element="tns:listarActividades" />
</message>
<message name="listarActividadesResponse">
<part name="parameters" element="tns:listarActividadesResponse" />
</message>
<message name="listarUltimasActividadesPorUsuario">
<part name="parameters" element="tns:listarUltimasActividadesPorUsuario" />
</message>
<message name="listarUltimasActividadesPorUsuarioResponse">
<part name="parameters" element="tns:listarUltimasActividadesPorUsuarioResponse" />
</message>
<message name="listarUltimasOportunidadesPorUsuario">
<part name="parameters" element="tns:listarUltimasOportunidadesPorUsuario" />
</message>
<message name="listarUltimasOportunidadesPorUsuarioResponse">
<part name="parameters" element="tns:listarUltimasOportunidadesPorUsuarioResponse" />
</message>
<message name="listarUltimosSeguimientosPorUsuario">
<part name="parameters" element="tns:listarUltimosSeguimientosPorUsuario" />
</message>
<message name="listarUltimosSeguimientosPorUsuarioResponse">
<part name="parameters" element="tns:listarUltimosSeguimientosPorUsuarioResponse" />
</message>
<portType name="ArgosWS">
<operation name="listarUltimasActividades">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUltimasActividadesRequest" message="tns:listarUltimasActividades" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUltimasActividadesResponse" message="tns:listarUltimasActividadesResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUltimasActividades/Fault/ErrorSQLException" />
<fault message="tns:TipoDatosException" name="TipoDatosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUltimasActividades/Fault/TipoDatosException" />
</operation>
<operation name="listarUltimosSeguimientos">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUltimosSeguimientosRequest" message="tns:listarUltimosSeguimientos" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUltimosSeguimientosResponse" message="tns:listarUltimosSeguimientosResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUltimosSeguimientos/Fault/ErrorSQLException" />
<fault message="tns:TipoDatosException" name="TipoDatosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUltimosSeguimientos/Fault/TipoDatosException" />
</operation>
<operation name="listarUltimasOportunidades">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUltimasOportunidadesRequest" message="tns:listarUltimasOportunidades" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUltimasOportunidadesResponse" message="tns:listarUltimasOportunidadesResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUltimasOportunidades/Fault/ErrorSQLException" />
<fault message="tns:TipoDatosException" name="TipoDatosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUltimasOportunidades/Fault/TipoDatosException" />
</operation>
<operation name="crearSeguimiento">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearSeguimientoRequest" message="tns:crearSeguimiento" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearSeguimientoResponse" message="tns:crearSeguimientoResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearSeguimiento/Fault/ErrorSQLException" />
<fault message="tns:FaltaParametroException" name="FaltaParametroException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearSeguimiento/Fault/FaltaParametroException" />
<fault message="tns:TipoDatosException" name="TipoDatosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearSeguimiento/Fault/TipoDatosException" />
</operation>
<operation name="listarSeguimientos">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarSeguimientosRequest" message="tns:listarSeguimientos" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarSeguimientosResponse" message="tns:listarSeguimientosResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarSeguimientos/Fault/ErrorSQLException" />
<fault message="tns:TipoDatosException" name="TipoDatosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarSeguimientos/Fault/TipoDatosException" />
</operation>
<operation name="buscarSeguimiento">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarSeguimientoRequest" message="tns:buscarSeguimiento" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarSeguimientoResponse" message="tns:buscarSeguimientoResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarSeguimiento/Fault/ErrorSQLException" />
<fault message="tns:DatosNoEncontradosException" name="DatosNoEncontradosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarSeguimiento/Fault/DatosNoEncontradosException" />
<fault message="tns:TipoDatosException" name="TipoDatosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarSeguimiento/Fault/TipoDatosException" />
</operation>
<operation name="modificarSeguimiento">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarSeguimientoRequest" message="tns:modificarSeguimiento" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarSeguimientoResponse" message="tns:modificarSeguimientoResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarSeguimiento/Fault/ErrorSQLException" />
<fault message="tns:FaltaParametroException" name="FaltaParametroException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarSeguimiento/Fault/FaltaParametroException" />
<fault message="tns:TipoDatosException" name="TipoDatosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarSeguimiento/Fault/TipoDatosException" />
</operation>
<operation name="crearOportunidad">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearOportunidadRequest" message="tns:crearOportunidad" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearOportunidadResponse" message="tns:crearOportunidadResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearOportunidad/Fault/ErrorSQLException" />
<fault message="tns:DatosDuplicadosException" name="DatosDuplicadosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearOportunidad/Fault/DatosDuplicadosException" />
<fault message="tns:FaltaParametroException" name="FaltaParametroException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearOportunidad/Fault/FaltaParametroException" />
<fault message="tns:DocumentoException" name="DocumentoException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearOportunidad/Fault/DocumentoException" />
<fault message="tns:TipoDatosException" name="TipoDatosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearOportunidad/Fault/TipoDatosException" />
</operation>
<operation name="borrarOportunidad">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/borrarOportunidadRequest" message="tns:borrarOportunidad" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/borrarOportunidadResponse" message="tns:borrarOportunidadResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/borrarOportunidad/Fault/ErrorSQLException" />
</operation>
<operation name="listarOportunidades">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarOportunidadesRequest" message="tns:listarOportunidades" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarOportunidadesResponse" message="tns:listarOportunidadesResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarOportunidades/Fault/ErrorSQLException" />
<fault message="tns:TipoDatosException" name="TipoDatosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarOportunidades/Fault/TipoDatosException" />
</operation>
<operation name="buscarOportunidad">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarOportunidadRequest" message="tns:buscarOportunidad" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarOportunidadResponse" message="tns:buscarOportunidadResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarOportunidad/Fault/ErrorSQLException" />
<fault message="tns:DatosNoEncontradosException" name="DatosNoEncontradosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarOportunidad/Fault/DatosNoEncontradosException" />
<fault message="tns:DocumentoException" name="DocumentoException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarOportunidad/Fault/DocumentoException" />
<fault message="tns:TipoDatosException" name="TipoDatosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarOportunidad/Fault/TipoDatosException" />
</operation>
<operation name="modificarOportunidad">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarOportunidadRequest" message="tns:modificarOportunidad" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarOportunidadResponse" message="tns:modificarOportunidadResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarOportunidad/Fault/ErrorSQLException" />
<fault message="tns:DatosDuplicadosException" name="DatosDuplicadosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarOportunidad/Fault/DatosDuplicadosException" />
<fault message="tns:FaltaParametroException" name="FaltaParametroException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarOportunidad/Fault/FaltaParametroException" />
<fault message="tns:TipoDatosException" name="TipoDatosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarOportunidad/Fault/TipoDatosException" />
</operation>
<operation name="crearActividad">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearActividadRequest" message="tns:crearActividad" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearActividadResponse" message="tns:crearActividadResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearActividad/Fault/ErrorSQLException" />
<fault message="tns:FaltaParametroException" name="FaltaParametroException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearActividad/Fault/FaltaParametroException" />
<fault message="tns:TipoDatosException" name="TipoDatosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearActividad/Fault/TipoDatosException" />
<fault message="tns:DocumentoException" name="DocumentoException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearActividad/Fault/DocumentoException" />
</operation>
<operation name="buscarActividad">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarActividadRequest" message="tns:buscarActividad" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarActividadResponse" message="tns:buscarActividadResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarActividad/Fault/ErrorSQLException" />
<fault message="tns:DatosNoEncontradosException" name="DatosNoEncontradosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarActividad/Fault/DatosNoEncontradosException" />
<fault message="tns:TipoDatosException" name="TipoDatosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarActividad/Fault/TipoDatosException" />
</operation>
<operation name="modificarActividad">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarActividadRequest" message="tns:modificarActividad" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarActividadResponse" message="tns:modificarActividadResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarActividad/Fault/ErrorSQLException" />
<fault message="tns:FaltaParametroException" name="FaltaParametroException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarActividad/Fault/FaltaParametroException" />
<fault message="tns:TipoDatosException" name="TipoDatosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarActividad/Fault/TipoDatosException" />
</operation>
<operation name="descargarPlantilla">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/descargarPlantillaRequest" message="tns:descargarPlantilla" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/descargarPlantillaResponse" message="tns:descargarPlantillaResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/descargarPlantilla/Fault/ErrorSQLException" />
<fault message="tns:FaltaParametroException" name="FaltaParametroException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/descargarPlantilla/Fault/FaltaParametroException" />
<fault message="tns:DocumentoException" name="DocumentoException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/descargarPlantilla/Fault/DocumentoException" />
</operation>
<operation name="buscarDocumento">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarDocumentoRequest" message="tns:buscarDocumento" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarDocumentoResponse" message="tns:buscarDocumentoResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarDocumento/Fault/ErrorSQLException" />
<fault message="tns:FaltaParametroException" name="FaltaParametroException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarDocumento/Fault/FaltaParametroException" />
</operation>
<operation name="validarUsuario">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/validarUsuarioRequest" message="tns:validarUsuario" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/validarUsuarioResponse" message="tns:validarUsuarioResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/validarUsuario/Fault/ErrorSQLException" />
<fault message="tns:DatosNoEncontradosException" name="DatosNoEncontradosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/validarUsuario/Fault/DatosNoEncontradosException" />
</operation>
<operation name="buscarUsuario">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarUsuarioRequest" message="tns:buscarUsuario" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarUsuarioResponse" message="tns:buscarUsuarioResponse" />
<fault message="tns:DatosNoEncontradosException" name="DatosNoEncontradosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarUsuario/Fault/DatosNoEncontradosException" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarUsuario/Fault/ErrorSQLException" />
</operation>
<operation name="listarRolesPorUsuario">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarRolesPorUsuarioRequest" message="tns:listarRolesPorUsuario" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarRolesPorUsuarioResponse" message="tns:listarRolesPorUsuarioResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarRolesPorUsuario/Fault/ErrorSQLException" />
<fault message="tns:FaltaParametroException" name="FaltaParametroException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarRolesPorUsuario/Fault/FaltaParametroException" />
</operation>
<operation name="crearRol">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearRolRequest" message="tns:crearRol" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearRolResponse" message="tns:crearRolResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearRol/Fault/ErrorSQLException" />
<fault message="tns:FaltaParametroException" name="FaltaParametroException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearRol/Fault/FaltaParametroException" />
</operation>
<operation name="listarRoles">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarRolesRequest" message="tns:listarRoles" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarRolesResponse" message="tns:listarRolesResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarRoles/Fault/ErrorSQLException" />
</operation>
<operation name="buscarRol">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarRolRequest" message="tns:buscarRol" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarRolResponse" message="tns:buscarRolResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarRol/Fault/ErrorSQLException" />
<fault message="tns:DatosNoEncontradosException" name="DatosNoEncontradosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarRol/Fault/DatosNoEncontradosException" />
</operation>
<operation name="modificarRol">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarRolRequest" message="tns:modificarRol" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarRolResponse" message="tns:modificarRolResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarRol/Fault/ErrorSQLException" />
<fault message="tns:FaltaParametroException" name="FaltaParametroException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarRol/Fault/FaltaParametroException" />
</operation>
<operation name="crearUsuario">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearUsuarioRequest" message="tns:crearUsuario" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearUsuarioResponse" message="tns:crearUsuarioResponse" />
<fault message="tns:FaltaParametroException" name="FaltaParametroException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearUsuario/Fault/FaltaParametroException" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearUsuario/Fault/ErrorSQLException" />
<fault message="tns:DatosDuplicadosException" name="DatosDuplicadosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearUsuario/Fault/DatosDuplicadosException" />
</operation>
<operation name="listarUsuarios">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUsuariosRequest" message="tns:listarUsuarios" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUsuariosResponse" message="tns:listarUsuariosResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUsuarios/Fault/ErrorSQLException" />
</operation>
<operation name="modificarUsuario">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarUsuarioRequest" message="tns:modificarUsuario" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarUsuarioResponse" message="tns:modificarUsuarioResponse" />
<fault message="tns:FaltaParametroException" name="FaltaParametroException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarUsuario/Fault/FaltaParametroException" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarUsuario/Fault/ErrorSQLException" />
<fault message="tns:DatosDuplicadosException" name="DatosDuplicadosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarUsuario/Fault/DatosDuplicadosException" />
</operation>
<operation name="listarEmpresas">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarEmpresasRequest" message="tns:listarEmpresas" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarEmpresasResponse" message="tns:listarEmpresasResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarEmpresas/Fault/ErrorSQLException" />
</operation>
<operation name="listarContactos">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarContactosRequest" message="tns:listarContactos" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarContactosResponse" message="tns:listarContactosResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarContactos/Fault/ErrorSQLException" />
</operation>
<operation name="listarTecnologias">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarTecnologiasRequest" message="tns:listarTecnologias" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarTecnologiasResponse" message="tns:listarTecnologiasResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarTecnologias/Fault/ErrorSQLException" />
</operation>
<operation name="listarTipoProyectos">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarTipoProyectosRequest" message="tns:listarTipoProyectos" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarTipoProyectosResponse" message="tns:listarTipoProyectosResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarTipoProyectos/Fault/ErrorSQLException" />
</operation>
<operation name="listarEstados">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarEstadosRequest" message="tns:listarEstados" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarEstadosResponse" message="tns:listarEstadosResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarEstados/Fault/ErrorSQLException" />
</operation>
<operation name="crearEmpresa">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearEmpresaRequest" message="tns:crearEmpresa" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearEmpresaResponse" message="tns:crearEmpresaResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearEmpresa/Fault/ErrorSQLException" />
<fault message="tns:DatosDuplicadosException" name="DatosDuplicadosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearEmpresa/Fault/DatosDuplicadosException" />
<fault message="tns:FaltaParametroException" name="FaltaParametroException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearEmpresa/Fault/FaltaParametroException" />
</operation>
<operation name="borrarEmpresa">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/borrarEmpresaRequest" message="tns:borrarEmpresa" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/borrarEmpresaResponse" message="tns:borrarEmpresaResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/borrarEmpresa/Fault/ErrorSQLException" />
</operation>
<operation name="buscarEmpresa">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarEmpresaRequest" message="tns:buscarEmpresa" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarEmpresaResponse" message="tns:buscarEmpresaResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarEmpresa/Fault/ErrorSQLException" />
<fault message="tns:DatosNoEncontradosException" name="DatosNoEncontradosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarEmpresa/Fault/DatosNoEncontradosException" />
</operation>
<operation name="modificarEmpresa">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarEmpresaRequest" message="tns:modificarEmpresa" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarEmpresaResponse" message="tns:modificarEmpresaResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarEmpresa/Fault/ErrorSQLException" />
<fault message="tns:DatosDuplicadosException" name="DatosDuplicadosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarEmpresa/Fault/DatosDuplicadosException" />
<fault message="tns:FaltaParametroException" name="FaltaParametroException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarEmpresa/Fault/FaltaParametroException" />
</operation>
<operation name="crearContacto">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearContactoRequest" message="tns:crearContacto" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearContactoResponse" message="tns:crearContactoResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearContacto/Fault/ErrorSQLException" />
<fault message="tns:FaltaParametroException" name="FaltaParametroException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/crearContacto/Fault/FaltaParametroException" />
</operation>
<operation name="borrarContacto">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/borrarContactoRequest" message="tns:borrarContacto" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/borrarContactoResponse" message="tns:borrarContactoResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/borrarContacto/Fault/ErrorSQLException" />
</operation>
<operation name="buscarContacto">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarContactoRequest" message="tns:buscarContacto" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarContactoResponse" message="tns:buscarContactoResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarContacto/Fault/ErrorSQLException" />
<fault message="tns:DatosNoEncontradosException" name="DatosNoEncontradosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/buscarContacto/Fault/DatosNoEncontradosException" />
</operation>
<operation name="modificarContacto">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarContactoRequest" message="tns:modificarContacto" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarContactoResponse" message="tns:modificarContactoResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarContacto/Fault/ErrorSQLException" />
<fault message="tns:FaltaParametroException" name="FaltaParametroException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/modificarContacto/Fault/FaltaParametroException" />
</operation>
<operation name="listarTipoActividades">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarTipoActividadesRequest" message="tns:listarTipoActividades" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarTipoActividadesResponse" message="tns:listarTipoActividadesResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarTipoActividades/Fault/ErrorSQLException" />
</operation>
<operation name="listarTipoSeguimientos">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarTipoSeguimientosRequest" message="tns:listarTipoSeguimientos" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarTipoSeguimientosResponse" message="tns:listarTipoSeguimientosResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarTipoSeguimientos/Fault/ErrorSQLException" />
</operation>
<operation name="listarActividades">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarActividadesRequest" message="tns:listarActividades" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarActividadesResponse" message="tns:listarActividadesResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarActividades/Fault/ErrorSQLException" />
<fault message="tns:TipoDatosException" name="TipoDatosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarActividades/Fault/TipoDatosException" />
</operation>
<operation name="listarUltimasActividadesPorUsuario">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUltimasActividadesPorUsuarioRequest" message="tns:listarUltimasActividadesPorUsuario" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUltimasActividadesPorUsuarioResponse" message="tns:listarUltimasActividadesPorUsuarioResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUltimasActividadesPorUsuario/Fault/ErrorSQLException" />
<fault message="tns:TipoDatosException" name="TipoDatosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUltimasActividadesPorUsuario/Fault/TipoDatosException" />
</operation>
<operation name="listarUltimasOportunidadesPorUsuario">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUltimasOportunidadesPorUsuarioRequest" message="tns:listarUltimasOportunidadesPorUsuario" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUltimasOportunidadesPorUsuarioResponse" message="tns:listarUltimasOportunidadesPorUsuarioResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUltimasOportunidadesPorUsuario/Fault/ErrorSQLException" />
<fault message="tns:TipoDatosException" name="TipoDatosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUltimasOportunidadesPorUsuario/Fault/TipoDatosException" />
</operation>
<operation name="listarUltimosSeguimientosPorUsuario">
<input wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUltimosSeguimientosPorUsuarioRequest" message="tns:listarUltimosSeguimientosPorUsuario" />
<output wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUltimosSeguimientosPorUsuarioResponse" message="tns:listarUltimosSeguimientosPorUsuarioResponse" />
<fault message="tns:ErrorSQLException" name="ErrorSQLException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUltimosSeguimientosPorUsuario/Fault/ErrorSQLException" />
<fault message="tns:TipoDatosException" name="TipoDatosException" wsam:Action="http://ws.WS.argos.suricata.com/ArgosWS/listarUltimosSeguimientosPorUsuario/Fault/TipoDatosException" />
</operation>
</portType>
<binding name="ArgosWSPortBinding" type="tns:ArgosWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="listarUltimasActividades">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="TipoDatosException">
<soap:fault name="TipoDatosException" use="literal" />
</fault>
</operation>
<operation name="listarUltimosSeguimientos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="TipoDatosException">
<soap:fault name="TipoDatosException" use="literal" />
</fault>
</operation>
<operation name="listarUltimasOportunidades">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="TipoDatosException">
<soap:fault name="TipoDatosException" use="literal" />
</fault>
</operation>
<operation name="crearSeguimiento">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="FaltaParametroException">
<soap:fault name="FaltaParametroException" use="literal" />
</fault>
<fault name="TipoDatosException">
<soap:fault name="TipoDatosException" use="literal" />
</fault>
</operation>
<operation name="listarSeguimientos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="TipoDatosException">
<soap:fault name="TipoDatosException" use="literal" />
</fault>
</operation>
<operation name="buscarSeguimiento">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="DatosNoEncontradosException">
<soap:fault name="DatosNoEncontradosException" use="literal" />
</fault>
<fault name="TipoDatosException">
<soap:fault name="TipoDatosException" use="literal" />
</fault>
</operation>
<operation name="modificarSeguimiento">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="FaltaParametroException">
<soap:fault name="FaltaParametroException" use="literal" />
</fault>
<fault name="TipoDatosException">
<soap:fault name="TipoDatosException" use="literal" />
</fault>
</operation>
<operation name="crearOportunidad">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="DatosDuplicadosException">
<soap:fault name="DatosDuplicadosException" use="literal" />
</fault>
<fault name="FaltaParametroException">
<soap:fault name="FaltaParametroException" use="literal" />
</fault>
<fault name="DocumentoException">
<soap:fault name="DocumentoException" use="literal" />
</fault>
<fault name="TipoDatosException">
<soap:fault name="TipoDatosException" use="literal" />
</fault>
</operation>
<operation name="borrarOportunidad">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
</operation>
<operation name="listarOportunidades">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="TipoDatosException">
<soap:fault name="TipoDatosException" use="literal" />
</fault>
</operation>
<operation name="buscarOportunidad">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="DatosNoEncontradosException">
<soap:fault name="DatosNoEncontradosException" use="literal" />
</fault>
<fault name="DocumentoException">
<soap:fault name="DocumentoException" use="literal" />
</fault>
<fault name="TipoDatosException">
<soap:fault name="TipoDatosException" use="literal" />
</fault>
</operation>
<operation name="modificarOportunidad">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="DatosDuplicadosException">
<soap:fault name="DatosDuplicadosException" use="literal" />
</fault>
<fault name="FaltaParametroException">
<soap:fault name="FaltaParametroException" use="literal" />
</fault>
<fault name="TipoDatosException">
<soap:fault name="TipoDatosException" use="literal" />
</fault>
</operation>
<operation name="crearActividad">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="FaltaParametroException">
<soap:fault name="FaltaParametroException" use="literal" />
</fault>
<fault name="TipoDatosException">
<soap:fault name="TipoDatosException" use="literal" />
</fault>
<fault name="DocumentoException">
<soap:fault name="DocumentoException" use="literal" />
</fault>
</operation>
<operation name="buscarActividad">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="DatosNoEncontradosException">
<soap:fault name="DatosNoEncontradosException" use="literal" />
</fault>
<fault name="TipoDatosException">
<soap:fault name="TipoDatosException" use="literal" />
</fault>
</operation>
<operation name="modificarActividad">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="FaltaParametroException">
<soap:fault name="FaltaParametroException" use="literal" />
</fault>
<fault name="TipoDatosException">
<soap:fault name="TipoDatosException" use="literal" />
</fault>
</operation>
<operation name="descargarPlantilla">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="FaltaParametroException">
<soap:fault name="FaltaParametroException" use="literal" />
</fault>
<fault name="DocumentoException">
<soap:fault name="DocumentoException" use="literal" />
</fault>
</operation>
<operation name="buscarDocumento">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="FaltaParametroException">
<soap:fault name="FaltaParametroException" use="literal" />
</fault>
</operation>
<operation name="validarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="DatosNoEncontradosException">
<soap:fault name="DatosNoEncontradosException" use="literal" />
</fault>
</operation>
<operation name="buscarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="DatosNoEncontradosException">
<soap:fault name="DatosNoEncontradosException" use="literal" />
</fault>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
</operation>
<operation name="listarRolesPorUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="FaltaParametroException">
<soap:fault name="FaltaParametroException" use="literal" />
</fault>
</operation>
<operation name="crearRol">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="FaltaParametroException">
<soap:fault name="FaltaParametroException" use="literal" />
</fault>
</operation>
<operation name="listarRoles">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
</operation>
<operation name="buscarRol">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="DatosNoEncontradosException">
<soap:fault name="DatosNoEncontradosException" use="literal" />
</fault>
</operation>
<operation name="modificarRol">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="FaltaParametroException">
<soap:fault name="FaltaParametroException" use="literal" />
</fault>
</operation>
<operation name="crearUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="FaltaParametroException">
<soap:fault name="FaltaParametroException" use="literal" />
</fault>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="DatosDuplicadosException">
<soap:fault name="DatosDuplicadosException" use="literal" />
</fault>
</operation>
<operation name="listarUsuarios">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
</operation>
<operation name="modificarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="FaltaParametroException">
<soap:fault name="FaltaParametroException" use="literal" />
</fault>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="DatosDuplicadosException">
<soap:fault name="DatosDuplicadosException" use="literal" />
</fault>
</operation>
<operation name="listarEmpresas">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
</operation>
<operation name="listarContactos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
</operation>
<operation name="listarTecnologias">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
</operation>
<operation name="listarTipoProyectos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
</operation>
<operation name="listarEstados">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
</operation>
<operation name="crearEmpresa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="DatosDuplicadosException">
<soap:fault name="DatosDuplicadosException" use="literal" />
</fault>
<fault name="FaltaParametroException">
<soap:fault name="FaltaParametroException" use="literal" />
</fault>
</operation>
<operation name="borrarEmpresa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
</operation>
<operation name="buscarEmpresa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="DatosNoEncontradosException">
<soap:fault name="DatosNoEncontradosException" use="literal" />
</fault>
</operation>
<operation name="modificarEmpresa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="DatosDuplicadosException">
<soap:fault name="DatosDuplicadosException" use="literal" />
</fault>
<fault name="FaltaParametroException">
<soap:fault name="FaltaParametroException" use="literal" />
</fault>
</operation>
<operation name="crearContacto">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="FaltaParametroException">
<soap:fault name="FaltaParametroException" use="literal" />
</fault>
</operation>
<operation name="borrarContacto">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
</operation>
<operation name="buscarContacto">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="DatosNoEncontradosException">
<soap:fault name="DatosNoEncontradosException" use="literal" />
</fault>
</operation>
<operation name="modificarContacto">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="FaltaParametroException">
<soap:fault name="FaltaParametroException" use="literal" />
</fault>
</operation>
<operation name="listarTipoActividades">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
</operation>
<operation name="listarTipoSeguimientos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
</operation>
<operation name="listarActividades">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="TipoDatosException">
<soap:fault name="TipoDatosException" use="literal" />
</fault>
</operation>
<operation name="listarUltimasActividadesPorUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="TipoDatosException">
<soap:fault name="TipoDatosException" use="literal" />
</fault>
</operation>
<operation name="listarUltimasOportunidadesPorUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="TipoDatosException">
<soap:fault name="TipoDatosException" use="literal" />
</fault>
</operation>
<operation name="listarUltimosSeguimientosPorUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ErrorSQLException">
<soap:fault name="ErrorSQLException" use="literal" />
</fault>
<fault name="TipoDatosException">
<soap:fault name="TipoDatosException" use="literal" />
</fault>
</operation>
</binding>
<service name="ArgosWSService">
<port name="ArgosWSPort" binding="tns:ArgosWSPortBinding">
<soap:address location="http://localhost:8080/ArgosComunitaeWebService/ArgosWSService" />
</port>
</service>
</definitions>